{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <img src="{{ car.image.url }}" alt="{{ car.name }}" class="img-fluid">
        </div>
        <div class="col-md-6">
            <h1>{{ car.name }}</h1>
            <p>{{ car.description }}</p>
            <p><strong>Quantity:</strong> {{ car.quantity }}</p>
            <p><strong>Price:</strong> ${{ car.price }}</p>
            <p><strong>Brand:</strong> {{ car.brand.Brand_name }}</p>
            {% if request.user.is_authenticated %}        
            <a href="{% url 'buy_car' car.id %}" class="btn btn-primary">Buy Now</a>
            {% endif %}
        </div>
    </div>
</div>



<div class="card m-2 ">
    <h5 class="p-3">Total Comments: {{comments|length}}</h5>
    {% for comment in comments  %}
    <div class="card-body border m-2">
     
     <p><b>{{comment.name}}</b> {{comment.created_on}}</p>
     <p>Email:{{comment.email}}</p>
     <p>Comment:{{comment.body}}</p>
     

    </div>
     {% endfor %}

    
  </div>



<div class="card m-2">
    <div class="card-body">
     <form method='post'>
      {% csrf_token %}
      <h3>Add Comment Here</h3>
     {{comment_form | crispy }}
     <button class="btn btn-warning" type="submit">Submit</button>
     </form>
    </div>
  </div>


{% endblock content %}